main{
    width: 100%;
    height: calc(100% - 7vh - 3%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main form{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
}
.datos{
    /*border: 1px solid black;*/
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    box-sizing: content-box;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 35px;
}
.datos p{
    font-size: 30px;
    margin: 10px 80px;
}
.datos div{
    margin: 0px 10px;
    padding: 25px 0px;
}
.datos div label{
    margin-left: 20px;
}
.datos div input{
    padding: 5px;
    font-size: 15px;
    text-align: center;
}
.datos div input[type = "radio"]{
    width: 15px;
    height: 15px;
}
.botones{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.botones button{
    padding: 20px 50px;
    margin-bottom: 70px;
}